upstream daoxila_service {
{% for host in groups['daoxila_service'] %}
  server {{ host }}:80;
{% endfor %}
}

server {
  listen 80;
  server_name service.daoxila.com web.service.daoxila.org;

  location / {
    proxy_pass                  http://daoxila_service;
    proxy_next_upstream         http_502 http_504 error timeout invalid_header;
    proxy_set_header Host       $host;
    proxy_set_header            Proxy-Host $proxy_host;
    proxy_set_header            X-Forwarded-Proto $scheme;
    add_header                  Cache-Control no-cache;
  }

  error_log /var/log/nginx/daoxila_service-error.log;
  access_log /var/log/nginx/daoxila_service-access.log;
}
