description "zookeeper"

start on filesystem or runlevel [2345]
stop on shutdown

chdir /opt/zookeeper
exec su -s /bin/sh -c 'exec "$0" "$@"' zookeeper -- /opt/zookeeper/zookeeper-3.4.6/bin/zkServer.sh start-foreground
respawn
respawn limit 5 60
