;调试模式
debug = 0
;显示执行的SQL
displaySql = 0
;是否使用模板
isTemplate = 0
[application]
;默认module
defaultModule = Default
modules[] = Hotel
modules[] = Tag
modules[] = Order
modules[] = User
modules[] = App
modules[] = Biz
modules[] = Ad
modules[] = Album
modules[] = Api
modules[] = Happytime
modules[] = Wechat
;数据库配置文件
dbConfig = CONFIG_PATH "/env/db.ini"
testDbConfig = CONFIG_PATH "/env/test_db.ini"
;数据库表缓存目录
dbCachePath = ROOT_PATH "/data/cache/db/"
;routerCachePath = ROOT_PATH "/data/cache/router"
;classAutoLoadCachePath = ROOT_PATH "/data/cache/class"
;router配置目录
routerConfigPath = CONFIG_PATH "/router/"
[phpini]
;session配置
session.save_handler = memcache
session.save_path = tcp://mem-session:11216

[smarty]
caching = 0
cache_lifetime = 14400 ; 
template_dir = APPLICATION_PATH "/{moduleName}/Views/"
compile_dir = ROOT_PATH "/data/cache/smarty/compile/"
config_dir = ""
cache_dir = ROOT_PATH "/data/cache/smarty/cache/"
left_delimiter = "{"
right_delimiter = "}"
