<VirtualHost *:80>
    DocumentRoot "/www/daoxila/daoxila_v5/public"
    ServerAdmin server@daoxila.com
    ServerName cms2.daoxila.com

    CustomLog /var/log/httpd/daoxila_v5-access.log combined
    ErrorLog /var/log/httpd/daoxila_v5-error.log

    Header add ServerID "v5-{{ inventory_hostname|ipaddr('int') % 256 }}"

    SetEnv ENV_PATH /etc/daoxila/Env.php

</VirtualHost>

<Directory "/www/daoxila/daoxila_v5/public">
    Options -MultiViews -Indexes FollowSymlinks IncludesNoExec +Includes
    DirectoryIndex index.html index.htm default.htm index.php
    AllowOverride All
    Order allow,deny
    Allow from all
</Directory>