;--------长连接------------
persistent                  = 0
;--------权重--------------
weight                      = 1
;--------超时--------------
timeout                     = 1
;--------重试时间----------
retry_interval              = 3600
status                      = true
failure_callback            = 
[0]
mem-1[]             = 11211
mem-1[]             = 11212
mem-1[]             = 11213
mem-1[]                         = 11214
mem-1[]                         = 11215
[1]
mem-2[]             = 11211
mem-2[]             = 11212
mem-2[]             = 11213
mem-2[]                         = 11214
mem-2[]                         = 11215
