{
    "ServerID":"nodeId",
    "qiniuURL": {
        "dxl-image-hunche": "http://7xluhs.com2.z0.glb.qiniucdn.com/",
        "dxl-audio": "http://7xkptf.media1.z0.glb.clouddn.com/",
        "dxl-binary": "http://7xkpto.dl1.z0.glb.clouddn.com/",
        "dxl-image": "http://7xkptw.com2.z0.glb.qiniucdn.com/",
        "dxl-vframe": "http://7xlct8.com2.z0.glb.qiniucdn.com/",
        "dxl-video": "http://7xkpu7.media1.z0.glb.clouddn.com/"
    },
    "mongo": {
        "host": "192.168.10.83",
        "database": "marriage"
    },
    "session": {
        "host": "192.168.10.237",
        "port": 11216
    },
    "memcached": {
        "host": "192.168.10.240",
        "port": 11211,
        "maxClients": 10
    }
}
