server=/mas.daoxila.com/114.114.114.114
server=/opx.daoxila.com/114.114.114.114
server=/union.daoxila.com/114.114.114.114
server=/b.daoxila.com/114.114.114.114
server=/marry.daoxila.com/114.114.114.114
server=/capi.daoxila.com/114.114.114.114
server=/ask.daoxila.com/114.114.114.114

address=/daoxila.com/{{ hostvars[groups['com_daoxila_nginx'][0]]['public_ip'] }}
address=/da.daoxila.com/{{ hostvars[groups['com_daoxila_nginx'][0]]['public_ip'] }}

address=/jsonp.daoxila.com/{{ hostvars[groups['com_daoxila_jsonp_nginx'][0]]['public_ip'] }}
address=/my.daoxila.com/{{ hostvars[groups['com_daoxila_my_nginx'][0]]['public_ip'] }}
address=/m.daoxila.com/{{ hostvars[groups['com_daoxila_m_nginx'][0]]['public_ip'] }}
address=/api.daoxila.com/{{ hostvars[groups['com_daoxila_api_nginx'][0]]['public_ip'] }}
address=/s4.dxlfile.com/{{ hostvars[groups['com_dxlfile_s4_nginx'][0]]['public_ip'] }}
address=/sys2.daoxila.com/{{ hostvars[groups['com_daoxila_sys2_nginx'][0]]['public_ip'] }}
address=/cms2.daoxila.com/{{ hostvars[groups['com_daoxila_cms2_nginx'][0]]['public_ip'] }}

address=/n.daoxila.com/{{ hostvars[groups['com_daoxila_n_nginx'][0]]['public_ip'] }}
address=/buy.daoxila.com/{{ hostvars[groups['com_daoxila_buy_nginx'][0]]['public_ip'] }}

address=/event.daoxila.com/{{ hostvars[groups['com_daoxila_event_nginx'][0]]['public_ip'] }}
address=/events.daoxila.com/{{ hostvars[groups['com_daoxila_event_nginx'][0]]['public_ip'] }}

address=/events.daoxila.com/{{ hostvars[groups['com_daoxila_bbs_nginx'][0]]['public_ip'] }}
